*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

:root{
    --dark-color : hsl(0, 0%, 0%);
    --ligth-color : hsl(0, 0%, 100%);
    --navbar-color : hsl(0, 9%, 7%);
    --link-hover : hsla(0, 0%, 100%, 0.536);
}


/* COMMONS */


body {
    background: var(--dark-color);
    font-family: 'Work Sans', sans-serif;
    overflow: hidden none;
    color: var(--ligth-color);
}

img {
    max-width:100%;
    -o-object-fit: scale-down;
       object-fit: scale-down;
}


.full-viewport {
    height: 100vh;
}

.giant-text {
    font-size: 5rem; /* per i testi che si trovano nella home */
}

.big-text {
    font-size: 2.5rem; /* per gli headings come i titoli */
}

.medium-text {
    font-size: 2rem;  /* per le descrizioni */
}

.small-text {
    font-size: 1.2rem; /* per informazioni poco importanti+ */
}

.extra-small-text {
    font-size: .75rem;  /* per link dentro i bottoni*/
}

.button {
    padding: 10px 30px;
    background: transparent;
    border-radius: 30px;
    border: #FFF 2px solid;
    color: var(--light-color);
    font-family: 'Work Sans', sans-serif;
}

a {
    color: var(--ligth-color);
    text-decoration: none;
}

.serif {
    font-family: 'Crimson Text', serif;
}

.vertical-space {
    margin: .75rem 0;
}

.lateral-space {
    margin: 0 .75rem;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.center-text {
    text-align: center;
}

.two-columns-disposed-layout { /* elements are set on two colums and equally distanciated */
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.center {
    align-content: center;
}

li {
    list-style-type: none;
}

button:hover  {
    background: var(--ligth-color);
    color: var(--dark-color) !important; 
    -webkit-transition: all 1s; 
    -o-transition: all 1s; 
    transition: all 1s;
}

a:hover {
    color: var(--link-hover);
}


/* NAVBAR */

nav{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 22px;
    background: var(--navbar-color);
}

.links{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.links li{
    margin: 0 1.2rem 0 0;
    text-align: center;
}

#hamburger{
    position: absolute;
    top: .75rem;
    right: 1.4rem;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 26px;
    height: 21px;
}

.bar{
    height: 3px;
    width: 100%;
    background-color: var(--ligth-color);
    border-radius: 150px;
}


.links li:hover {
    color: var(--dark-color);
}


@media only screen and (max-width: 997px) {

    .links {
        display: none;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin: 1.2rem 0 0 0;
        width: 100%;
    }

    .links li{
        padding: 10px;
        width: 100%;
    }

    #hamburger {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .active{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .two-columns-disposed-layout {
        grid-template-columns: 1fr;
    }
}
